.centerDiv {
    height: 90%;
    width: 80%;
    padding: 40px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 3%;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.centerTblDiv {
  height: 80%;
  width: 80%;
  padding: 40px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 3%;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.example-container {
    display: flex;
    /* flex-direction: row; */
  }
  
  .example-container > * {
    width: 100%;
  }
  .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .mat-raised-button.mat-primary {
    background-color: #2b7fa3;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #2b7fa3 !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #2b7fa3 !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused   #2b7fa3  */
 background-color: #2b7fa3 !important;;
}




.formElement {
    margin: 1rem;
}

.searchDiv {
  width: 50%;
  border: 1px solid #eee;
  margin: 0 auto;
  border-radius: 12px;
  padding: 0.2rem;

}