<mat-toolbar>
    <span>Application Registration</span>
</mat-toolbar>

<mat-card class="centerDiv" >

   


      <form class="formwidth"  [formGroup]="applicationFrm" >
        <table class="fullwidth" cellspacing="0">
            <tr>
                <td>
                  <mat-form-field class="form-group formElement" >
                    <input  readonly  formControlName="appId"     matInput  class="form-control" type="text" placeholder="Applicant Number" >


                    <div *ngIf="applicationFrm.controls['appId'].hasError('required') && applicationFrm.controls['appId'].touched" class="alert alert-danger">Application ID Cannot Be Empty</div>



                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="form-group formElement" >
                    <input formControlName="appDate"   matInput [matDatepicker]="picker" placeholder="Applicant Date" >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                 
                    <div *ngIf="applicationFrm.controls['appDate'].hasError('required') && applicationFrm.controls['appDate'].touched" class="alert alert-danger">Application Date Cannot Be Empty</div>
                 
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="form-group formElement"  [style.width.rem]=46 >
                    <input  formControlName="appName"   matInput  class="form-control" type="text" placeholder="Applicant Name" >
                 
                 
                    <div *ngIf="applicationFrm.controls['appName'].hasError('required') && applicationFrm.controls['appName'].touched" class="alert alert-danger">Application Name Cannot Be Empty</div>
                 
                  </mat-form-field>
                </td>
            </tr>
        </table>
        <p>
          <mat-form-field class="form-group formElement"  [style.width.rem]=76 >
            <input formControlName="appRole"  matInput  class="form-control" type="text" placeholder="Applied For" >
            
            <div *ngIf="applicationFrm.controls['appRole'].hasError('required') && applicationFrm.controls['appRole'].touched" class="alert alert-danger">Application Role Cannot Be Empty</div>
        
          </mat-form-field>
        </p>
        <table class="fullwidth" cellspacing="0">
            <tr>
                <td>
                  <mat-form-field class="form-group formElement" >
                    <input formControlName="appDOB"   matInput [matDatepicker]="pickern" placeholder="DOB" >
                    <mat-datepicker-toggle matSuffix [for]="pickern"></mat-datepicker-toggle>
                    <mat-datepicker #pickern></mat-datepicker>
                 </mat-form-field>
                 
                 <div *ngIf="applicationFrm.controls['appDOB'].hasError('required') && applicationFrm.controls['appDOB'].touched" class="alert alert-danger">Application Date of Birth Cannot Be Empty</div>       

                </td>
                <td>
                  <mat-form-field class="form-group formElement" >
                    <input  formControlName="appAge"     matInput  class="form-control" type="number" placeholder="Age" >
                  </mat-form-field>
             
                  <div *ngIf="applicationFrm.controls['appAge'].hasError('required') && applicationFrm.controls['appAge'].touched" class="alert alert-danger">Application Age Cannot Be Empty</div>
             
                </td>
                <td>
                  <mat-form-field class="form-group formElement" >
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="appGender" >
                      <mat-option value="Male">Male</mat-option>
                      <mat-option value="Female">Female</mat-option>
                      <mat-option value="Other">Other</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div *ngIf="applicationFrm.controls['appGender'].hasError('required') && applicationFrm.controls['appGender'].touched" class="alert alert-danger">Application Gender Cannot Be Empty</div>

                </td>

                <td>
                  <mat-form-field class="form-group formElement" >
                    <input   formControlName="appMobile"    matInput  class="form-control" type="tel" placeholder="Mobile" >
                  </mat-form-field>
                </td>

                <td>
                  <mat-form-field class="form-group formElement" >
                    <input  formControlName="appEml"  matInput  class="form-control" type="email" placeholder="Email" >
                  </mat-form-field>
                </td>


            </tr>
        </table>

        <p>
          <mat-form-field class="form-group formElement"  [style.width.rem]=76 >
            <input formControlName="appRsn"    matInput  class="form-control" type="text" placeholder="Reason of Leave" >
        

           
            
          </mat-form-field>
        </p>


        <table class="fullwidth" cellspacing="0">
          <tr>
              <td>
              
               <mat-form-field class="form-group formElement" >
                <input formControlName="appExp"     matInput  class="form-control" type="number" placeholder="Experience In Years" >
             
                <div *ngIf="applicationFrm.controls['appExp'].hasError('required') && applicationFrm.controls['appExp'].touched" class="alert alert-danger">Application Experience Cannot Be Empty</div>
             
              </mat-form-field>
               
              </td>
              <td>
                <mat-form-field class="form-group formElement"  [style.width.rem]=50  >
                  <input  formControlName="appCCmp"  matInput  class="form-control" type="text" placeholder="Current Company" >
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-group formElement" >
                  <input  formControlName="appNP"   matInput  class="form-control" type="text" placeholder="Notice Period" >
                </mat-form-field>
              </td>

            


          </tr>
        </table>

        <p>
          <button style="margin:1rem" (click)="saveFormDetails()"   mat-raised-button color="primary">Save</button>
          <button style="margin:1rem"  (click)="clearForm()"  mat-raised-button color="accent">Cancel</button>
        </p>
    </form>



   






</mat-card>

<mat-card class="centerTblDiv" >

  <div class="searchDiv"  >
    <input matInput  class="form-control" type="text" placeholder="Search by ID" >
  </div>
 


  <mat-table #table1 [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef > Email</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef > Phone</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.phone }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef > Edit </mat-header-cell>
        <mat-cell *matCellDef="let element">                          
         <button mat-icon-button><mat-icon matTooltip="Edit"    >create</mat-icon></button>      
        

         </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef > Delete </mat-header-cell>
        <mat-cell *matCellDef="let element">                              
         <button mat-icon-button><mat-icon matTooltip="Delete"  >delete</mat-icon></button>
         </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="dispalyedColumns" > </mat-header-row>
    <mat-row *matRowDef="let row;columns: dispalyedColumns"> </mat-row>
</mat-table>
<mat-paginator #page1 [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>





</mat-card>

